<h1><%= @dog.name %></h1>

<% if can? :edit, @dog %>
  <%= link_to "Edit", edit_dog_path(@dog), class: 'btn btn-mini' %>
<% end %>

<p><%= @dog.needs %></p>
<p><%= @dog.weight %></p>
<p><%= @dog.breed %></p>
<p><%= @dog.age %></p>