<h1><%= @dog.name %></h1>

<% if can? :edit, @dog %>
  <%= link_to "Edit", edit_dog_path(@dog), class: 'btn btn-mini' %>
<% end %>

<p>Dog's needs: <%= @dog.needs %></p>
<p>Dog's weight: <%= @dog.weight %></p>
<p>Dog's breed: <%= @dog.breed %></p>
<p>Dog's age: <%= @dog.age %></p>
<p><%= image_tag(@dog.dogimage_url) if @dog.dogimage? %></p>

 <div class="span4">
<% if can? :destroy, @dog %>
  <%= link_to "Delete Dog", @dog, method: :delete, class: 'btn btn-large btn-block btn-danger', confirm: 'Are you sure you want to delete this dog?' %> 
<% end %>
</div>