<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Checkpup</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/stylesheets/main.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/smoothscroll.js"></script>
    

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
      <div id="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>Checkpup</b></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><%= link_to "About", about_path %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>


  <section id="home" name="home"></section>
  <div id="headerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-12">
          <h1><b>Checkpup</b></h1>
          <h3>Find the best boarding facility for your furry friend.</h3>
          <br>
          </div>
          
          <div class="col-lg-2">
            <h5>Who is it for?</h5>
            <p>CheckPup software is an easy-to-use tool tailored specifically for owners to find a boarding, grooming and/or dog daycare facility.</p>
            <%= image_tag("arrow1.png", class: "hidden-xs hidden-sm hidden-md") %>
          </div>
           <div class="col-lg-8">
            <%= image_tag("George1.png", class: "img-responsive") %>
           </div> 
          <div class="col-lg-2">
            <br>
            <%= image_tag("arrow2.png", class: "hidden-xs hidden-sm hidden-md") %>
            <h5>Images via Instagram</h5>
            <p>Facilities can see your pet before they arrive and see what they do for fun!</p>
          </div>
        </div>
      </div> <!--/ .container -->
  </div><!--/ #headerwrap -->

  <section id="desc" name="desc"></section>
  <!-- INTRO WRAP -->
  <div id="intro">
    <div class="container">
      <div class="row centered">
        <h1>Designed with Owners in Mind </h1>
        <br>
        <br>
        <div class="col-lg-4">
          <!--<img src="assets/img/intro01.png" alt=""> -->
          <%= image_tag("intro02.png") %>
          <h3>Visual Booking Calendar</h3>
          <p>View the itinery of your pet's stay</p>
        </div>
        <div class="col-lg-4">
          <!-- <img src="assets/img/intro02.png" alt=""> -->
          <%= image_tag("intro01.png") %>
          <h3>Fast</h3>
          <p>It's easy to locate partner facilities to find a special place for your loved one.</p>
        </div>
        <div class="col-lg-4">
          <!-- <img src="assets/img/intro03.png" alt=""> -->
          <%= image_tag("intro03.png") %>
          <h3>Security</h3>
          <p>Keep your pet's information at your fingertips with safe storage of your records.</p>
        </div>
      </div>
      <br>
      <hr>
      </div> <!--/ .container -->
  </div><!--/ #introwrap -->

  <div id="c">
    <div class="container">
      <br>
      <p>Design theme by <a href="http://www.blacktie.co">BLACKTIE.CO</a></p>
    </div>
  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.js"></script>
  <script>
  $('.carousel').carousel({
    interval: 3500
  })
  </script>
  </body>
</html>

